:root{
    --bg-color: white;
    --field-bg-color: rgb(192, 192, 192);
    --dim-text: rgb(78, 78, 78);
    --primary-text-color: black;
    --btn-txt-color: #0077ff;
    --btn-border: solid 0.1rem #0077ff;
}
[data-theme="dark"]{
    --bg-color: #212121;
    --field-bg-color: rgb(54, 54, 54);
    --btn-bg-color: rgb(0, 0, 0);
    --dim-text: rgb(119, 119, 119);
    --primary-text-color: white;
    --btn-txt-color: white;
    --btn-border: none;
}

.meter-container{
    width: 100%;
    background-color: rgb(192, 192, 192);
    border-radius: 1rem;
    margin: 0 auto;
    overflow: hidden;
}
.meter-value{
    height: 0.5rem;
    transition: width 1s;

}
.meter-red{
    width: 0%;
    background-color: #ff5757;
    float:right;
}
.meter-green{
    width: 0%;
    background-color: #3f943f;
    float: left;

}
.score-correct{
    float: left;
    color: #3f943f;
}
.score-incorrect{
    float: right;
    color: #ff5757;
}

.score-value{
    padding:0.1rem;
}
.hidden{
    display: none;
}
body{
    height: 95vh;
    display: flex;
    flex-flow: column;
    background-color: var(--bg-color);
}
#toolbar{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: right;
    svg{
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--primary-text-color);
    }
}
#note-selector{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
    width: 95%;
    display: block;
    padding-top: 0.5rem;
    flex: 0 1 auto;
    button{
        text-align: center;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        display: inline-block;
        font-size: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .note-row{
        display: flex;
        flex-wrap: wrap;
    }
}
#note-input{
    display: flex;
    margin: 0.1rem;
    #notes-box{
        background-color: var(--field-bg-color);
        border-radius: 0.25rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        padding: 0.2rem;
        display: inline-flex;
        width:74%;
        align-items: center;
        position: relative;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
        &:before{
            position: absolute;
            height: 100%;
            width: 2%;
            content: "";
            z-index: 1;
            background: linear-gradient(to right,
            var(--field-bg-color) 10%, 
            rgba(255,255,255, 0) 100%);
        }
        #notes{
            display: flex;
            overflow: auto;
            scrollbar-width:none;
            scroll-behavior: smooth;
            cursor: default;
            user-select: none;
            align-items: center;
            padding-left: 0.2rem;
            width: 100%;
            div{
                animation: 200ms ease-in-out grow;
                transition: scale 200ms;
            }
        }
        #clear-notes{
            font-size: 0.75rem;
            padding: 0.5rem;
            visibility: hidden;
            cursor: pointer;
            user-select: none;
            color:var(--dim-text);
            &:hover{
                text-decoration: underline;
            }
        }

    }
    button{
        margin-right: 0;
        margin-left: auto;
        border: solid 0.1rem #0077ff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #0077ff;
        color:white;

    }
    .note{
        padding:0.25rem;
        vertical-align: middle;
        color: var(--primary-text-color);
    }
}
body{
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    border: var(--btn-border);
    background-color: var(--btn-bg-color);
    color: var(--btn-txt-color);
    border-radius: 0.25rem;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
    margin: 0.1rem;
    transition: background-color 0.25s, color 0.25s;
    &:active{
        background-color: #0077ff;
        color: white;
    }
}
#info{
    background-color: var(--field-bg-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
    flex: 1 1 auto;
    width: 95%;
}
#flow-controls{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    padding-bottom: 0.5rem;
    #play-key{
        margin-left: 0;
    }
    #play-chord{
        margin-right: 0;
    }
    button{
        padding: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        width: 50%;
        &:active{
            svg{
                fill: white;
            }
        }
        span{
            vertical-align: middle;
        }
    }
    svg{
        height: 2rem;
        width: 2rem;
        fill: #0077ff; 
        transition: fill 0.25s;
        vertical-align: middle;
    }
}
.shrink{
    animation: 200ms ease-in-out shrink;
}
@media only screen and (min-aspect-ratio: 6/5){
    body{
        max-width: 60vw;
    }
    #note-selector, #flow-controls, #info, #toolbar{
        width: 75%;
    }
}
@media only screen and (max-aspect-ratio: 6/5){
    body{
        padding:0.5rem;
    }
}
@keyframes grow {
    0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
}